body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    text-align: center;
}

.nav a {
    padding: 1em;
    background: lightgray;
    text-decoration: none;
    color: white;
}

.nav a:first-of-type {
    border-radius: 5px 0 0 5px;
}

.nav a:last-of-type {
    border-radius: 0 5px 5px 0;
}

.nav a.active {
    background-color: lightblue;
}
