.messageSelector {
    background-color: gray;
    width: 70%;
    max-width: 1100px;
    min-width: 300px;

    margin: auto;
    
    display: grid;
}

.message {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    padding: 0.6em;
}

.message__title {
    padding: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message__subject {
    padding: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message__button {

}
